.angular
.browserslistrc
.dockerignore
.eslintignore
.gitignore
.husky
.prettierignore
CHANGELOG.md

dist/
e2e/*/.angular/
e2e/*/e2e/src/
e2e/*/src/app/
node_modules/
test-reports/
tmp/

**/*.sh
**/.nvmrc
