.angular
.browserslistrc
.dockerignore
.eslintignore
.gitignore
.husky
.prettierignore
CHANGELOG.md

dist/
docs/**/*.md
docs/.docusaurus
e2e/*/.angular
e2e/*/src/test
node_modules/
test-reports/
tmp/

**/*.sh
**/.nvmrc
