version: 2.1
parameters:
  lockindex:
    type: string
    default: '1'

executors:
  core:
    docker:
      - image: satantime/puppeteer-node:16.17.1
    resource_class: medium
  a5:
    docker:
      - image: satantime/puppeteer-node:6.17.1
    resource_class: medium
  a6:
    docker:
      - image: satantime/puppeteer-node:8.17.0
    resource_class: medium
  a7:
    docker:
      - image: satantime/puppeteer-node:8.17.0
    resource_class: medium
  a8:
    docker:
      - image: satantime/puppeteer-node:10.24.1
    resource_class: medium
  a9:
    docker:
      - image: satantime/puppeteer-node:12.22.12
    resource_class: medium
  a10:
    docker:
      - image: satantime/puppeteer-node:12.22.12
    resource_class: medium
  a11:
    docker:
      - image: satantime/puppeteer-node:12.22.12
    resource_class: medium
  a12:
    docker:
      - image: satantime/puppeteer-node:12.22.12
    resource_class: medium
  a13:
    docker:
      - image: satantime/puppeteer-node:12.22.12
    resource_class: medium
  a14:
    docker:
      - image: satantime/puppeteer-node:16.17.1
    resource_class: medium

commands:
  install:
    parameters:
      dir:
        description: Directory in /e2e/
        type: string
    steps:
      - checkout
      - restore_cache:
          key: << parameters.dir >>-<< pipeline.parameters.lockindex >>-{{ arch }}-{{ checksum "e2e/<< parameters.dir >>/package.json" }}-{{ checksum "e2e/<< parameters.dir >>/package-lock.json" }}
      - run:
          name: NPM Install
          command: |
            if [ ! -d "e2e/<< parameters.dir >>/node_modules/" ]; then
              npm run i:ci:<< parameters.dir >>
            fi
      - save_cache:
          key: << parameters.dir >>-<< pipeline.parameters.lockindex >>-{{ arch }}-{{ checksum "e2e/<< parameters.dir >>/package.json" }}-{{ checksum "e2e/<< parameters.dir >>/package-lock.json" }}
          paths:
            - ./e2e/<< parameters.dir >>/node_modules
  test:
    parameters:
      dir:
        description: Directory in /e2e/
        type: string
      engine:
        description: Angular View Engine
        type: enum
        enum:
          - ''
          - ivy
        default: ''
    steps:
      - checkout
      - attach_workspace:
          at: dist
      - restore_cache:
          key: << parameters.dir >>-<< pipeline.parameters.lockindex >>-{{ arch }}-{{ checksum "e2e/<< parameters.dir >>/package.json" }}-{{ checksum "e2e/<< parameters.dir >>/package-lock.json" }}
      - run:
          name: Spreading Build
          command: npm run s:<< parameters.dir >>
      - run:
          name: Unit Tests
          command: npm run e2e:<< parameters.dir >><< parameters.engine >>
      - run:
          name: Build
          command: npm run b:<< parameters.dir >><< parameters.engine >>

jobs:
  Core:
    executor: core
    steps:
      - checkout
      - restore_cache:
          key: root-<< pipeline.parameters.lockindex >>-{{ arch }}-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
      - run:
          name: NPM Install
          command: |
            if [ ! -d "./node_modules/" ]; then
              npm ci --no-audit --legacy-peer-deps --no-optional && \
              ./node_modules/.bin/ngcc
            fi
      - save_cache:
          key: root-<< pipeline.parameters.lockindex >>-{{ arch }}-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Build
          command: npm run build
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Tests
          command: npm run test -- --code-coverage
      - run:
          name: Collecting Coverage coveralls.io
          command: ./node_modules/.bin/coveralls < test-reports/coverage/lcov/lcov.info
      - run:
          name: Collecting Coverage codecov.io
          command: ./node_modules/.bin/codecov -f test-reports/coverage/lcov/lcov.info --disable=gcov
      - store_test_results:
          path: ./test-reports
      - store_artifacts:
          path: ./test-reports/coverage
          prefix: coverage
      - persist_to_workspace:
          root: dist
          paths:
            - .
  E2E Install:
    parameters:
      node:
        type: executor
        default: core
      dir:
        type: string
    executor: << parameters.node >>
    steps:
      - run: date
      - when:
          condition:
            or:
              - not:
                  matches:
                    pattern: '(renovate|dependabot/npm_and_yarn)/e2e/.*'
                    value: << pipeline.git.branch >>
              - matches:
                  pattern: '(renovate|dependabot/npm_and_yarn)/e2e/<< parameters.dir >>/.*'
                  value: << pipeline.git.branch >>
          steps:
            - install:
                dir: << parameters.dir >>
  E2E Test:
    parameters:
      node:
        type: executor
        default: core
      dir:
        type: string
      engine:
        type: enum
        enum:
          - ''
          - ivy
        default: ''
    executor: << parameters.node >>
    steps:
      - run: date
      - when:
          condition:
            or:
              - not:
                  matches:
                    pattern: '(renovate|dependabot/npm_and_yarn)/e2e/.*'
                    value: << pipeline.git.branch >>
              - matches:
                  pattern: '(renovate|dependabot/npm_and_yarn)/e2e/<< parameters.dir >>/.*'
                  value: << pipeline.git.branch >>
          steps:
            - test:
                dir: << parameters.dir >>
                engine: << parameters.engine >>

workflows:
  version: 2
  Testing:
    jobs:
      - Core:
          name: core

      # installing e2e
      - E2E Install:
          name: << matrix.dir >>:install
          node: << matrix.dir >>
          dir: << matrix.dir >>
          requires:
            - core
          matrix:
            parameters:
              dir:
                - a6
                - a7
                - a8
                - a9
                - a10
                - a11
                - a12
                - a13

      # testing classic view engine
      - E2E Test:
          name: << matrix.dir >>:test
          node: << matrix.dir >>
          dir: << matrix.dir >>
          requires:
            - << matrix.dir >>:install
          matrix:
            parameters:
              dir:
                - a6
                - a7
                - a8
                - a9
                - a10
                - a11

      # testing ivy view engine
      - E2E Test:
          name: << matrix.dir >>:test:ivy
          node: << matrix.dir >>
          dir: << matrix.dir >>
          engine: ivy
          requires:
            - << matrix.dir >>:install
          matrix:
            parameters:
              dir:
                - a9
                - a10
                - a11
                - a12
                - a13
